{
  "devices": [
    {
        "tags": ["net1"],
        "ip" : "192.168.1.123",
        "prefix" : "24",
        "gateway" : "192.168.1.1",
        "nameserver" : "192.168.1.1"        
    },
    {
        "tags": ["net2"],
        "ip" : "10.0.0.123",
        "prefix" : "24",
        "gateway" : "10.0.0.1",
        "nameserver" : "10.0.0.1"        
    }
  ]
}
