{
  "devices": [
    {
        "type": "nic",
        "bus": "pci",
        "address": "0000:00:02.0",
        "mac": "8c:8c:aa:45:8a:cc",
        "tags": ["net1"]
    },
    {
        "type": "nic",
        "bus": "pci",
        "address": "0000:81:10.1",
        "mac": "01:02:03:04:05:06",
        "tags": ["net2"]
    }
  ]
}
